%ol.breadcrumb
  %li=link_to "Home", root_path
  %li=link_to @channel.name, @channel
%h1=@channel.name
%p="#{number_with_delimiter(@channel.stats.last.subscribers)} subscribers" if @channel.stats.last
.row
  -@channel.videos.each do |video|
    .col-sm-12.col-md-6.video
      .thumbnail
        .row
          .col-md-9
            .caption 
              %h4=link_to video.title, video
              - if video.stats.last
                %p="#{number_with_delimiter(video.stats.last.viewCount)} views"
                %p
                  %span.glyphicon.glyphicon-thumbs-up
                  =number_with_delimiter video.stats.last.likeCount
                  %span.glyphicon.glyphicon-thumbs-down
                  =number_with_delimiter video.stats.last.dislikeCount
                %p
                  =#link_to "Videos", channel, :class => 'btn btn-primary', :role => 'button'
                  =#link_to "Button", "#", :class => 'btn btn-default', :role => 'button'
          .col-md-3
            =link_to "http://www.youtube.com/watch?v=#{video.youtubeVideoId}" do
              =image_tag video.picture, :class => 'video_screenshot'