%ol.breadcrumb
  %li=link_to "Home", root_path
  %li=link_to @video.channel.name, @video.channel
  %li=link_to @video.title, @video
%h1
  =@video.title
%table.table.table-striped.table-bordered
  %tr
    %th Date
    %th Likes
    %th Dislikes
    %th Views
  -@video.stats.each do |stat|
    %tr
      %td=stat.created_at.to_formatted_s(:long)
      %td=number_with_delimiter stat.likeCount
      %td=number_with_delimiter stat.dislikeCount
      %td=number_with_delimiter stat.viewCount