// Place all the styles related to the channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thumbnail {
  min-height: 146px;
}

@media (min-width: 992px) { 
  .video_screenshot {
    position: relative;
    top: 25px;
    right: 8px;
  }
}