.modal#aboutModal{:tabindex => "-1", :role => "dialog", :"aria-labelledby" => "myModalLabel", :"aria-hidden" =>"true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type => "button", :"data-dismiss" => "modal", :"aria-hidden" => "true"} &times;
        %h4.modal-title#myModalLabel About
      .modal-body
        %p This site pulls data from the YouTube API. Since some videos hide their statistics on youtube.com, I wanted to track them on my own.
      .modal-footer
        %button.btn.btn-default{:type => "button", :"data-dismiss" => "modal"} Close